
h1,h2 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
body {
  font-family: sans-serif;
}

.column {
  display: block;
  width: 300px;
  float: left;
  border: solid white;
  border-width: 20px;
  margin-left: auto;
  margin-right: auto;
}

img {
  float: left;
  width:  400px;
  height: 400px;
  object-fit: cover;
}